<% provide(:title, "Help") %>
<!DOCTYPE html>

  <h1>Help</h1>
  <p>
    Get to know with the Ruby on Rails Tutorial at the
    <a href="http://www.railstutorial.org">Rails Tutorial help section</a>.
    Or visit 
    <a href="http://api.rubyonrails.org/">documentation</a> of RoR API.
  </p>

