<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application created by Kaju.
</p>
<a href="https://rails-tutorial-k4ju.c9.io/static_pages/help">Help</a>